.carrossel-container {
  width: 100%;
  max-width: 1920px; 
  height: 700px; 
  position: relative;
  overflow: hidden;
  
}

.swiper {
  width: 100%;
  height: 100%;

}

.slide-item {
  width: 100%;
  height: 100%;
  position: relative;
  
}

.slide-item img {
  width: 100%;
  height: 100%;
  
  object-fit: cover; 
  
  object-position: center; 
  
  display: block;

  filter: contrast(105%); /* Aumenta levemente o contraste para destacar bordas */
  transform: translateZ(0); /* Força renderização via GPU para evitar serrilhados */
  backface-visibility: hidden;
}

.swiper-pagination {
  bottom: 20px !important; 
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff !important; 
   opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #1518b2 !important; 
  opacity: 1;
}

@media (max-width: 768px) {
  .carrossel-container {
    height: 300px;
  }
}