.products-grid {
  /* Empurra o conteúdo para baixo do Header fixo */
  padding-top: 70px; 
  padding-bottom: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9; 
  min-height: 100vh;
  box-sizing: border-box;
}


/* O container que manda na Grid */
.card-resultado {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
  gap: 25px;
  width: 90%;
  max-width: 1200px;
  padding: 20px;
}

/* O card individual */
.produto-card {
  background: #ffffff;
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: auto; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.quantidade-control {
  display: flex;
  flex-direction: row !important; 
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}